@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* This ensures the 'Calm' background is applied everywhere */
  background-color: #f9fbf7; 
  color: #064e3b;
}
